<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Booklist</title>
	<meta http-equiv="Content-Type" charset="text/html; charset=UTF-8" />
</head>
<body>
	<table class="table table-striped">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>ISBN</th>
			<th>Year</th>
		</tr>
		<tr th:each = "book: ${books}">
			<td th:text=${book.author}></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.published}"></td>
		</tr>
	</table>
</body>
</html>