<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>categorylist</title>
	<meta http-equiv="Content-Type" charset="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<table class="table table-striped">
		<tr>
			<th>Name</th>>
		</tr>
		<tr th:each = "category: ${categories}">
			<td th:text=${category.name}></td>
			<td>Delete</a></td>
			<td>Edit Book</a></td>
		</tr>
		<div><a href="/addcategory" class="btn btn-primary">Add Category</a></div>
	</table>
</body>
</html>